body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

label,
select {
    margin-right: 8px;
}


.filters {
    display: flex;
    align-items: center;
    color: #ffffff;
    margin-top: 8px;
}

button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}

#filter-btn {
    margin-left: 8px; 
}

#randomize-btn {
    margin-left: 16px;
}

.pokemon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
}

.card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.card-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
}

.card:hover img {
    transform: scale(1.1);
}

.card:hover .card-info {
    transform: translateY(0);
}

@media (max-width: 768px) {
    .pokemon-list {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .card img {
        height: 150px;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .filters {
        margin-top: 16px;
        flex-direction: column;
        color: #fff;
    }

    label,
    select,
    button {
        margin: 8px 0;
    }

    .modal-content {
        max-width: 90%;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fefefe;
    padding: 16px;
    border-radius: 8px;
    max-width: 80%;
}

.close-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    font-size: 24px;
    font-weight: bold;
    color: #aaa;
    cursor: pointer;
}

.close-modal:hover {
    color: #555;
}

.modal-content h2 {
    margin-bottom: 8px;
}

.modal-content img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
}

.modal-info h3 {
    margin-top: 16px;
}

.modal-info p {
    margin: 4px 0;
}
